body{
    margin: 0px;
    overflow: hidden;
}
input[type=radio]{
    display: none;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}

header{
    padding:20px;
    text-align: center;
    margin-bottom:20px;
}
nav{
    padding-left:10vw;
    padding-right:10vw;
    padding-top: 10px   ;
    padding-bottom: 10px;
    width:100vw;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
div.tags{
    width: 86vw;
    height:65vh;
    overflow-y:scroll;
    padding:10px;
    float: right;
    margin-bottom:20px;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
}
aside{
    padding: 1.5vw;
    width: 10vw;
    height:65vh;
    overflow-y:scroll;
    float: left;
    border-style: solid;
    border-width: 1px;
    bottom: 0px;
}
footer{
    clear:both;
    padding:20px;
    text-align:center;
}